<?php
// Database configuration
define('DB_HOST', '{{ db_host1 }}');
define('DB_NAME', '{{ db_name1 }}');
define('DB_USER', '{{ db_user1 }}');
define('DB_PASSWORD', '{{ db_password1 }}');

// Other configurations
?>
